/*! HTML5 Boilerplate v5.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.navbar {
    min-height: 70px;
    padding-top: 10px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.custom-logo{
    background-image: url("../img/logo.jpg");
    width: 250px;
    background-size: 250px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.pnf{
    padding: 100px 0;
}

header {
    background-attachment: scroll;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    background-position: center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    min-height: 400px;
}

header .intro-text {
    padding-bottom: 50px;
    padding-top: 100px;
}

header .l-bap{
    margin-top: 0px;
    margin-bottom: 50px;
    color: black;
    text-align: left;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 18px;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.65) !important;
    margin-bottom: 25px;
}
header .intro-text .intro-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
header .intro-text {
    padding-bottom: 200px;
    padding-top: 200px;
}

header .l-bap{
    margin-top: 150px;
    color: black;
    text-align: left;
}

header .intro-text .intro-lead-in {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.65) !important;
    line-height: 30px;
    margin-bottom: 25px;
    font-weight: lighter;
}
header .intro-text .intro-heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
}

#landing-page{
    /*background-image: url("../img/slide2.png");*/
    background-image: url("../img/cambridgene_home2.jpg");
    background-position: top;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.75) !important;
}

#ab-page{
    background-image: url("../img/ab_home.jpg") ;
    background-position: top;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.75) !important;
}


#contact{
    background-image: url("../img/pattern-2.jpg") ;
    text-shadow: 0px 1px 15px rgba(0, 0, 0, 0.75) !important;
}

.heading{
    min-height: 100px;
    padding: 20px 0 30px 0;
    font-size: 27px;
    font-weight: 200;
}

hr.style-seven {
    height: 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 10px;
    border-color: #ABABAB;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 20px;
    margin-top: -21px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 10px;
    border-color: #ABABAB;
    padding-top: 20px;

}

.page-title{
    min-height: 300px;
    padding: 150px 0;
    font-size: 50px;
    font-weight: 200;
}

.shadow{
   color: #fff !important;
   text-shadow: 0px 0px 9px #000;
}

.box{
    border: 1px solid #f1f1f4;
    border-radius:5px;
    padding: 20px;
    margin: 10px;
    color: white;
    background-color: #1C2C3B;
}

.c-section{
    padding: 60px 0 !important;
}

.solutions{
    padding: 60px 0;
    background-color: #1C2C3B;
    color: white;
}

.nbp{
    padding-bottom: 0;
    padding-top: 0;
}

.well{
    border-radius: 0;
}

.section-heading{
    padding-bottom: 30px;
    font-weight: 100;
    font-size: 50px;
}

.section-sub-heading{
    padding-bottom: 10px;
    font-weight: 100;
    border-bottom: 1px solid #1C2C3B;
    font-size: 30px;
}

.section-sub-heading-2{
    font-weight: 250;
    font-size: 20px;
}


.dark{
    background-image: url(../img/bg-pattern-1.png);
    color: white;
}


.light{
    color: #1C2C3B;
    background-color: white;
}


.circle-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: black;
}

#footer-panel{
    background-color: #1C2C3B;
    min-height: 250px;
    padding-top: 50px;
    padding-bottom: 40px;
}

#footer-panel .row{
    padding: 30px 0 10px 0;
}

#footer-panel ul li{
    list-style: none;
    padding-bottom: 10px;
}

#footer-panel ul li a, #footer-panel ul li a:link{
    color: black;
}

.solutions a, .solutions a:link{
    color: white;
}

.image-1{
    background-image: url("../img/parthi-1.jpg");
    height: 150px;
    background-position: center;
    background-size: auto 150px;
}

.image-2{
    background-image: url("../img/murali-1.jpg");
    height: 150px;
    background-position: center;
    background-size: auto 150px;
    background-repeat: no-repeat;
}

.rpm{
    background-image: url("../img/logo-tag.jpg");
    background-size: auto 80px;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    background-color: white;
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: white;
    color: black;
}
footer span.copyright {
    line-height: 40px;
    text-transform: none;
}
footer ul.quicklinks {
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    outline: 0 none;
    transition: all 0.3s ease 0s;
    width: 40px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #fed136;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0 none;
}

.bb{
    border-bottom: 1px solid #f1f1f4;
}

.para-norm{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 150%;
    padding-top: 20px;
}

.para-norm p{
    padding: 5px 0 5px 0;
}

.header-content{
    font-size: 0.57em;
    color: white;
    padding:0 !important;
    margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.banner-heading-one {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    position: absolute;
    left: 650px;
    right: 50px;
    top: 100px;
    text-align: justify;
    border-radius: 25px;
    /*border: 2px solid #73AD21;*/
    border: 2px solid #299ef2;
    padding: 20px;
    width: 400px;
}

.banner-heading-two {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    position: absolute;
    left: 650px;
    right: 50px;
    top: 250px;
    text-align: justify;
    border-radius: 25px;
    border: 2px solid #87c5f2;
    padding: 20px;
    width: 400px;
}

#rcorners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
